<%
// If the permission is direct.
if (mappedItem.isDirect) {
    cssClasses.push('direct-permission');
} else {
    cssClasses.push('inherited-permission');
}

// Get the available permission types.
var availablePermissionTypes = {};
for (var permType in passbolt.model.PermissionType.PERMISSION_TYPES) {
    availablePermissionTypes[permType] = passbolt.model.PermissionType.formatToString(permType);
}
%>

<li id="<%= mappedItem.id %>" <%= (el) -> el.data( itemClass.fullName, item ) %> class="row <%= cssClasses.join(' ') %>">

    <div class="avatar">
        <img src="<%= mappedItem.aroAvatarPath %>"/>
    </div>

    <div class="group">
        <span class="name"><%= mappedItem.acoLabel %></span>
        <span class="details"><a><%= mappedItem.acoDetails %></a></span>
    </div>

    <div class="select rights">
        <form id="js_share_rs_perm_<%= mappedItem.id %>" class="js_perm_edit_form">
            <select class="js_share_rs_perm_type permission">
            </select>
        </form>
    </div>

    <div class="actions">
        <%
        // If the permission is direct.
        // The user can delete it directly
        if (mappedItem.isDirect) { %>
        <a class="js_perm_delete close" title="<%= __('remove') %>">
            <i class="fa fa-times-circle"></i>
            <span class="visuallyhidden"><%= __('remove') %></span>
        </a>
        <% } %>
    </div>

</li>
