<li id="<%= id %>" <%= (el) -> el.data( itemClass.fullName, item ) %>>
	<div class="row <%= permType %> clearfix">
		<div class="avatar">
	        <div class="image-icon">
	            <i class="icon avatar <%= permType %> big no-text"></i>
	        </div>
	    </div>
	    <div class="details">
	        <span class="name"><%= permTarget %></span>
	        <span class="rights"><%= permLabel %></span>
	    </div>
	    <div class="actions">
	        <a href="#" class="js_perm_delete close"><i class="icon close no-text"></i><span>close</span></a>
	    </div>
	</div>
</div>
