<%
var cssClasses = cssClasses || [];
var classes = hasChildren ? ['root', 'closed'] : ['leaf'];
classes = $.merge(classes, cssClasses);
var classesControl = hasChildren ? ['with_icon', 'triangle_right'] : [];
%>

<li id="<%= id %>" class="<%= classes.join(' ') %> node" <%= (el) -> el.data( itemClass.fullName, item ) %>>

	<div>
		<a href="#" class="label"><%= label %></a>
		<a href="#" class="control <%= classesControl.join(' ') %>">
			<span>more</span>
		</a>
	</div>

</li>
