<li id="<%= mappedItem.id %>" <%= (el) -> el.data( itemClass.fullName, item ) %> class="usercard-col-2 <%= cssClasses.join(' ') %>">
    <div class="content-wrapper">
        <div class="content">
            <div class="name"><%= mappedItem.userFullName %></div>
            <div class="subinfo"><%= mappedItem.membershipType %></div>
        </div>
    </div>
    <div class="avatar">
        <img src="<%= mappedItem.userAvatarPath %>" alt="picture of <%= mappedItem.userFullName %>">
    </div>
</li>
