<li id="<%= mappedItem.id %>" <%= (el) -> el.data( itemClass.fullName, item ) %> class="permission usercard-col-2 <%= cssClasses.join(' ') %>">
	<div class="content-wrapper">
		<div class="content">
			<div class="name"><%= mappedItem.acoLabel %> (<%= mappedItem.acoDetails %>)</div>
			<div class="subinfo"><%= mappedItem.permLabel %></div>
		</div>
	</div>
	<div class="avatar">
		<img src="<%= mappedItem.aroAvatarPath %>">
	</div>
</li>