<li id="<%= mappedItem.id %>" <%= (el) -> el.data( itemClass.fullName, item ) %> class="permission usercard-col-2 <%= cssClasses.join(' ') %>">
	<div class="content-wrapper">
		<div class="content">
			<div class="name"><%= mappedItem.name %></div>
			<div class="subinfo"><%= mappedItem.role %></div>
		</div>
	</div>
	<div class="avatar">
		<img src="img/avatar/group_default.png">
	</div>
</li>