<% var role = passbolt.model.User.getCurrent().Role.name; %>
<% var user = this.controller.options.data; %>
<div class="form-content">

	<input type="hidden" name="passbolt.model.User.Group.id" id="js_field_group_id" class="form_field" />
	<input type="hidden" name="passbolt.model.User.active" id="js_field_user_active" class="form_field" />

	<div class="input text required">
		<label for="js_field_first_name"><%= __('First Name') %></label>
		<input name="passbolt.model.User.Profile.first_name" class="required" maxlength="50" type="text" id="js_field_first_name" placeholder="first name"/>
		<div id="js_field_first_name_feedback" class="message">
		</div>
	</div>

	<div class="input text required">
		<label for="js_field_last_name"><%= __('Last Name') %></label>
		<input name="passbolt.model.User.Profile.last_name" class="required" maxlength="50" type="text" id="js_field_last_name" placeholder="last name"/>
		<div id="js_field_last_name_feedback" class="message">
		</div>
	</div>

	<div class="input text required clearfix">
		<label for="js_field_username"><%= __('Username / Email') %></label>
		<input name="passbolt.model.User.username" class="required" maxlength="50" type="text" id="js_field_username" placeholder="email"<% if (action != 'create') { %> disabled<% } %> />
		<div id="js_field_username_feedback" class="message">
		</div>
	</div>

    <% if (role == 'admin') { %>
	<div class="input text required">
		<label for="js_field_role_id"><%= __('Role') %></label>
		<div id="js_field_role_id">
			<input name="passbolt.model.User.role_id" value="<%= cakephpConfig.roles.admin %>" type="checkbox" />
			<span>This user is an administrator</span>
		</div>
		<% if (action == 'create') { %>
		<div class="message helptext">Note: Administrators can add and delete users. They can also create groups and assign group managers. Admin can not see all passwords.</div>
		<% } %>
		<div id="js_field_role_id_feedback" class="message">
		</div>
	</div>
    <% } %>
</div>

<div class="submit-wrapper clearfix">
    <input type="submit" class="button primary" value="<%= __('save')%>" />
    <a class="js-dialog-cancel cancel"><%= __('cancel')%></a>
</div>
