<div class="form-content">

	<div class="input text input-password-wrapper">
		<div class="input password required short">
			<label for="js_field_password"><%= __('Password') %></label>
			<input name="passbolt.model.User.password" class="required" maxlength="50" type="password" id="js_field_password" placeholder="password"/>
			<input class="required" maxlength="50" type="text" id="js_field_password_clear" placeholder="password"/>
		</div>
		<ul class="actions inline">
			<li>
				<a id="js_show_pwd_button" class="button toggle">
					<i class="fa fa-eye fa-fw fa-lg"></i>
					<span class="visuallyhidden"><%= __('view') %></span>
				</a>
			</li>
			<li>
				<a id="js_gen_pwd_button" class="button">
					<i class="fa fa-magic fa-fw fa-lg"></i>
					<span class="visuallyhidden"><%= __('generate') %></span>
				</a>
			</li>
		</ul>
		<div id="js_user_pwd_strength" class="password-complexity">
		</div>
	</div>

</div>

<div class="submit-wrapper clearfix">
    <input type="submit" class="button primary" value="<%= __('save')%>" />
    <a class="js-dialog-cancel cancel"><%= __('cancel')%></a>
</div>
