<div class="form-content">

	<input type="hidden" name="passbolt.model.Resource.id" id="js_field_resource_id" class="form_field" />

	<div class="input text required js_form_element_wrapper">
		<label for="js_field_name"><%= __('Name') %></label>
		<input name="passbolt.model.Resource.name" class="required" maxlength="64" type="text" id="js_field_name" placeholder="name" autofocus/>
		<div id="js_field_name_feedback" class="message">
		</div>
	</div>
	
	<div class="input text js_form_element_wrapper">
		<label for="js_field_uri"><%= __('URI') %></label>
		<input name="passbolt.model.Resource.uri" type="text" maxlength="1024" id="js_field_uri" placeholder="https://example.com/login"/>
		<div id="js_field_uri_feedback" class="message">
		</div>
	</div>
	
	<div class="input text js_form_element_wrapper">
		<label for="js_field_username"><%= __('Username') %></label>
		<input name="passbolt.model.Resource.username" maxlength="64" type="text" id="js_field_username" placeholder="name"/>
		<div id="js_field_username_feedback" class="message">
		</div>
	</div>

	<div class="input text required js_form_element_wrapper js_form_secret_wrapper">
		<label for="js_field_secret_data_0"><%= __('Password') %></label>

        <div id="js_secret_edit_0" class="js_secret_edit_form">
            <input type="hidden" name="passbolt.model.Secret.id" id="js_field_secret_id_0" class="js_field_secret_id form_field" />
            <input type="hidden" name="passbolt.model.Secret.user_id" id="js_field_secret_user_id_0" class="js_field_secret_user_id form_field" />
            <textarea name="passbolt.model.Secret.data" id="js_field_secret_data_0" class="form_field hidden js_field_secret_data"></textarea>
        </div>
	</div>

	<div class="input textarea js_form_element_wrapper">
		<label for="js_field_description"><%= __('Description') %></label>
		<textarea name="passbolt.model.Resource.description" class="required" id="js_field_description" maxlength="10000" placeholder="add a description">
		</textarea>
		<div id="js_field_description_feedback" class="message">
		</div>
	</div>

</div>

<div class="submit-wrapper clearfix">
    <input type="submit" class="button primary" value="<%= __('save')%>" />
    <a class="js-dialog-cancel cancel"><%= __('cancel')%></a>
</div>
