<div class="sidebar group">
    <div class="header">
        <img src="img/avatar/group_default.png">
        <h3>
            <span class="name"><%= group.name %></span>
            <span class="type">group</span>
        </h3>
    </div>
    <a href="#" class="js_sidebar_close dialog-close">
        <i class="fa fa-fw fa-close"></i><span class="visuallyhidden">close</span>
    </a>

    <div class="detailed-information">
        <h4>Information</h4>
        <ul>
            <li class="created">
                <span class="label">Created</span>
                <% var created = datetimeGetTimeAgo(group.attr('created')); %>
                <span class="value"><%= created %></span>
            </li>
            <li class="modified">
                <span class="label">Modified</span>
                <span class="value"><%= datetimeGetTimeAgo(group.modified) %></span>
            </li>
            <li class="modified_by">
                <span class="label">Modified By</span>
                <span class="value"><%= (group.Modifier ? group.Modifier.Profile.fullName() : '') %></span>
            </li>
            <li class="members">
                <span class="label">Members</span>
                <span class="value"><%= (group.GroupUser ? group.GroupUser.length : '') %></span>
            </li>
            <!-- <li class="members">
                <span class="label">Passwords</span>
                <span class="value">20</span>
            </li>-->
        </ul>
    </div>
    <div id="js_group_details_members" class="members">
        <h4>Group Members</h4>

        <% if (editable) { %>
        <a id="js_edit_members_button" class="section-action" href="#">
            <i class="fa fa-fw fa-edit"></i>
            <span class="visuallyhidden">modify</span>
        </a>
        <% } %>

        <div>
            <ul id="js_group_details_group_members_list" class="shared-with ready"></ul>
        </div>
    </div>
</div>

