<div class="grid grid-responsive-12">
	<div class="row">
		<div class="col6 key-info">
			<h3>Information for public and secret key</h3>
			<table class="table-info" id="privkeyinfo">
				<tr>
					<td>Key Id</td>
					<td class="keyId">
						<div class="input select tooltip-top"
							 data-tooltip="sorry you can only have one key set at the moment">
							<select name="data[Key][0]" id="KeyId" disabled="disabled" class="">
								<option value="<%= gpgkey.key_id %>"><%= gpgkey.key_id %></option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td>Uid</td>
					<td class="uid"><%= gpgkey.uid %></td>
				</tr>
				<tr>
					<td>Fingerprint</td>
					<td class="fingerprint"><%= gpgkey.fingerprint %></td>
				</tr>
				<tr>
					<td>Created</td>
					<td class="created"><%= gpgkey.key_created %></td>
				</tr>
				<tr>
					<td>Expires</td>
					<td class="expires"><%= gpgkey.expires %></td>
				</tr>
				<tr>
					<td>Key Length</td>
					<td class="length"><%= gpgkey.bits %></td>
				</tr>
				<tr>
					<td>Algorithm</td>
					<td class="algorithm"><%= gpgkey.type %></td>
				</tr>
			</table>
		</div>
		<div class="col6 last key-export">
            <h3>Public key block</h3>
			<div class="input textarea gpgkey" rel="publicKey">
				<textarea id="publicKeyUnarmored" class="fluid code" placeholder="" name="data[Gpgkey][key]"><%= gpgkey.key %></textarea>
			</div>
		</div>
	</div>
</div>
