<span class="notification_status">
	<i class="icon <%= status %> big no-text"></i>
</span>&nbsp;&nbsp;
<span class="notification_title"><%= title %></span>&nbsp;&nbsp;
<% if (message) { %>
	<span class="js_notification_more_button"><%= __('see details') %></span>
<% } %>
<div class="js_notification_details_container">
	<div class="js_notification_details">
		<div><%= message %></div>
		<div><%= data %></div>
	</div>
</div>
