<div class="profile">
	<h3><%= __('Profile') %></h3>

	<div class="section detailed-information">

		<div class="avatar" style="float:left;">
			<div class="value">
				<img src="<%= user.Profile.avatarPath('medium'); %>" width="200" height="200" style="width: 200px;" />
			</div>
			<div class="edit">
				<a class="edit-avatar-action" href="#" title="<%= __('Change Avatar') %>">
					<i class="icon camera"></i>
					<span class="text">Click here to upload a new picture.</span>
				</a>
			</div>
		</div>
        <ul>
			<li>
				<span class="label"><%= __('Name') %></span>
				<span class="value"><%= user.Profile.first_name %> <%= user.Profile.last_name %></span>
			</li>
            <li>
                <span class="label"><%= __('Email') %></span>
                <span class="value"><%= user.username %></span>
            </li>
			<li>
				<span class="label"><%= __('Role') %></span>
				<span class="value"><%= user.Role.name %></span>
			</li>
			<li>
				<span class="label"><%= __('Modified') %></span>
				<span class="value"><%= moment(user.Profile.modified).fromNow(); %></span>
			</li>
			<li>
				<span class="label"><%= __('Created') %></span>
				<span class="value"><%= moment(user.Profile.created).fromNow(); %></span>
			</li>
			<li>
				<span class="label"><%= __('Public key') %></span>
				<span class="value"><%= user.Gpgkey.key_id %></span>
				<p><em>Note: Sorry it is not possible to change your key at the moment. <a href="#">learn more ›</a></em></p>
			</li>
            <!--<li>-->
                <!--<span class="label"><%= __('Groups') %></span>-->
                <!--<div class="value">-->
                    <!--<ul id="js_wk_preference_profile_groups"></ul>-->
                <!--</div>-->
            <!--</li>-->
        </ul>
	</div>
</div>
