<div class="grid grid-responsive-12">
	<div class="row">
		<div class="profile col8">
			<h3><%= __('Profile') %></h3>
			<div class="section profile-detailed-information">
				<div class="avatar">
					<div class="value">
						<img src="<%= user.Profile.avatarPath('medium') %>" alt="profile picture" />
					</div>
					<div class="edit">
						<a class="edit-avatar-action" title="<%= __('Change Avatar') %>">
							<i class="fa fa-camera"></i>
							<span class="help-text">Click here to upload a new picture.</span>
						</a>
					</div>
				</div>
				<table class="table-info profile">
					<tbody>
					<tr class="name">
						<td class="label"><%= __('Name') %></td>
						<td class="value"><%= user.Profile.first_name %> <%= user.Profile.last_name %></td>
					</tr>
					<tr class="email">
						<td class="label"><%= __('Email') %></td>
						<td class="value"><%= user.username %></td>
					</tr>
					<tr class="role">
						<td class="label"><%= __('Role') %></td>
						<td class="value"><%= user.Role.name %></td>
					</tr>
					<tr class="modified">
						<td class="label"><%= __('Modified') %></td>
						<% var timeAgo = datetimeGetTimeAgo(user.Profile.attr('modified')); %>
						<td class="value"><%= timeAgo %></td>
					</tr>
					<tr class="created">
						<td class="label"><%= __('Created') %></td>
						<% var timeAgo = datetimeGetTimeAgo(user.Profile.attr('created')); %>
						<td class="value"><%= timeAgo %></td>
					</tr>
					<tr class="publickey_keyid">
						<td class="label"><%= __('Public key') %></td>
						<td class="value">
							<%= user.Gpgkey.key_id %>
							<p><em>Note: Sorry, it is not possible to change your key at the moment. <!--<a>learn more ›</a>--></em></p>
						</td>
					</tr>
					<!--<tr>-->
					<!--<td><%= __('Groups') %></span>-->
					<!--<div class="value">-->
					<!--<ul id="js_wk_preference_profile_groups"></ul>-->
					<!--</div>-->
					<!--</tr>-->
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
