<div class="sidebar resource">
	<h3><%= resource.name %></h3>
	<a class="js_sidebar_close dialog-close">
		<i class="fa fa-close"></i>
		<span class="visuallyhidden">close</span>
	</a>

	<div class="detailed-information">
	<h4><%= __('Information') %></h4>
	<ul>
		<li class="username">
			<span class="label"><%= __('Username') %></span>
			<span class="value"><%= resource.username %></span>
		</li>
		<li class="password">
			<div class="label"><%= __('Password') %></div>
			<div class="value">
				<div class="secret-copy">
					<a id="sidebar_secret_copy_<%= resource.id %>">
						<span>copy password to clipboard</span>
					</a>
					<pre><%= resource.Secret[0].data %></pre>
				</div>
			</div>
		</li>
		<li class="uri">
			<span class="label"><%= __('URL') %></span>
			<span class="value">
				<a href="<%= resourceFormattedUri %>" target="_blank"><%= resource.uri %></a>
			</span>
		</li>
		<li class="modified">
			<span class="label"><%= __('Modified') %></span>
			<span class="value"><%= datetimeGetTimeAgo(resource.modified) %></span>
		</li>
		<li class="modified-by">
			<span class="label"><%= __('Modified by') %></span>
			<span class="value"><%= resource.Modifier.username %></span>
		</li>
		<li class="created-by">
			<span class="label"><%= __('Owner') %></span>
			<span class="value"><%= resource.Creator.username %></span>
		</li>
		<!--<li class="expire">-->
			<!--<span class="label"><%= __('Expire') %></span>-->
			<!--<span class="value"><%= resource.expiry_date != null ? moment(resource.expiry_date).fromNow() : __('never') %></span>-->
		<!--</li>-->
		<!--<li class="strength">
			<span class="label"><%= __('Strength') %></span>
			<span>
				<%= secretStrength ? secretStrength.label : '-' %>
			</span>
		</li>-->
	</ul>
	</div>

	<!-- Description management -->
	<div class="description" id="js_rs_details_description"></div>

	<!-- Permissions management -->
	<div class="permissions" id="js_rs_details_permissions"></div>

	<!-- Comments management -->
	<div class="comments clearfix" id="js_rs_details_comments"></div>
</div>

