<%
// Format fingerprint.
var fingerprint = '';
for(var i=0; i < mappedItem.userFingerprint.length; i++) {
    fingerprint += mappedItem.userFingerprint[i];
    if ((i + 1) % 4 == 0) {
        fingerprint += ' ';
    }
}
%>

<li id="<%= mappedItem.id %>" <%= (el) -> el.data( itemClass.fullName, item ) %> class="row <%= mappedItem.isNew ? 'permission-updated ' : '' %><%= cssClasses.join(' ') %>">

    <div class="avatar">
        <img src="<%= mappedItem.userAvatarPath %>"/>
    </div>

    <div class="user">
        <div class="details">
            <span class="name"><%= mappedItem.userLabel %></span>
            <div href="#" class="more_details tooltip-alt">
                <i class="fa fa-info-circle"></i>
                <div class="tooltip-text right">
                    <div class="email"><%= mappedItem.userEmail %></div>
                    <div class="fingerprint"><%= fingerprint %></div>
                </div>
            </div>
        </div>
        <div class="permission_changes">
            <span><%= mappedItem.isNew ? __('Will be added') : __('Unchanged')  %></span>
        </div>
    </div>

    <div class="select rights">
        <form id="js_group_user_is_admin_select_<%= mappedItem.id %>" class="js_group_user_is_admin_form">
            <select class="js_group_user_is_admin permission">
            </select>
        </form>
    </div>

    <div class="actions">
        <a class="js_group_user_delete close" title="<%= __('remove') %>">
            <i class="fa fa-times-circle"></i>
            <span class="visuallyhidden"><%= __('remove') %></span>
        </a>
    </div>

</li>
