<li class="comment-wrapper" id="<%= mappedItem.id %>" <%= (el) -> el.data( itemClass.fullName, item ) %>>
	<div class="comment">
		<div class="wrap-right-column">
			<div class="right-column">
				<div class="content-wrapper">
					<p><%= mappedItem.content %></p>
					<div class="metadata">
						<span class="author username"><%= mappedItem.creatorName %></span>
						<span class="modified"><%= datetimeGetTimeAgo(mappedItem.modified) %></span>
					</div>
					<div class="actions">
						<ul>
							<li>
								<a class="js_delete_comment hidden">
									<i class="fa fa-fw fa-trash"></i>
									<span class="visuallyhidden">delete</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="left-column">
			<div class="author profile picture"><a>
				<img src="<%= mappedItem.creatorAvatarPath %>" alt="comment author picture" />
			</a></div>
		</div>
	</div>
</li>