<div class="js_workspace grid_16 alpha omega">

	<!-----------------------------------------------------------------------------
	Workspace header bar
	----------------------------------------------------------------------------->

	<div class="workspace_label sidebar left">
		<%= label %>
	</div>

	<div class="js_workspace_actions_container workspace_actions_container content right">

		<button id="js_request_resource_creation_button">
			<span class="icon create"><%= __('create') %></span>
		</button>

		<button id="js_request_resource_edition_button" class="with_icon edit no_text center_icon">
			<span><%= __('edit') %></span>
		</button>

		<button id="js_request_resource_deletion_button" class="with_icon trash no_text center_icon">
			<span><%= __('delete') %></span>
		</button>

		<button id="js_request_resource_sharing_button" class="with_icon share no_text center_icon">
			<span><%= __('share') %></span>
		</button>

		<button id="js_request_resource_more_button" class="with_icon triangle_down right_icon">
			<span><%= __('more') %></span>
		</button>

	</div>

	<div class="js_workspace_view_actions_container workspace_view_actions_container grid_6 omega">
	</div>
	
	<div class="clear"></div>
	
	<!-----------------------------------------------------------------------------
	Main area
	----------------------------------------------------------------------------->

	<div class="js_workspace_sidebar_first sidebar left">
	</div>

	<div class="js_workspace_main content right">
	</div>

	<div class="js_workspace_sidebar_second sidebar right">
	</div>

</div>
